body {
    background-color: #fffff0;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    color: #483d8b;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.title {
    margin: 30px;
    /* border:1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    border: 1px solid #483d8b;
    border-radius: 6px;
    /* this adjusts the roundness of the button*/
    padding: 10px 20px;
    background-color: transparent;
    font-weight: bold;
    width: 150px;
    height: 50px;
    /* margin-right: 20px; */

}

span {
    font-weight: bold;
}

.purple-rectangle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 100%;
    background-color: #483d8b;
    border: 1px solid black;
    border-radius: 6px;
}


@media (max-width: 768px) {
    .purple-rectangle {
        width: 2%;
        /* Adjust width for smaller screens */
    }

    body {
        font-size: 20px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .purple-rectangle {
        width: 30%;
        /* Adjust width for larger screens */
    }

    body {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    .purple-rectangle {
        width: 40%;
        /* Adjust width for larger screens */
    }

    body {
        font-size: 20px;
    }
}


/* Media query for larger screens */
@media (min-width: 2000px) {
    .purple-rectangle {
        width: 40%;
    }
}

section {
    /* margin-right: 240px */
    word-wrap: break-word;
}

/* .right-penguin {
    float: right;

    /* margin-left: 10px; */
/* Add some space between the image and text */
/* } */

.left-penguin {
    float: left;
    /* margin-right:10px; */
}

.wrap {
    /* text-align: left;
     */
    display: flex;
    align-items: center;
}

.wrap-left {
    margin-right: 10px;
    float: left;
}

.wrap-right {
    margin-right: 10px;
    /* Adjust the margin as needed */
    float: right;
}

footer {
    background-color: #ffff80;
    width: 100%;
}

.blue-button {
    background-color: #483d8b;
    color: white;
    border: 1px solid #336699;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 60px;
    width: 330px;
    height: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}



img,
h1,
p {
    margin-top: 20px;
    padding: 20px;
}

div img {
    width: 300px;
}